 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background-color: #262626;
     font-family: 'Montserrat', sans-serif;
 }

 #canvas {
     position: fixed;
     top: 0;
     left: 0;
 }

 #score {
     position: fixed;
     color: white;
     top: 10px;
     left: 10px;
     z-index: 2;
 }